<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navermapapp">

    <!-- 1) 전부 직접 코딩 (수업중 사용 코드 응용)-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ======================================-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!--  2) 출처 https://blog.naver.com/bb_/221645545193 -->
        <!-- android:usesCleartextTraffic="true" -->

        
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1) 전부 직접 코딩 (수업중 사용 코드 응용)-->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="oqzjezkxwo" />
        <!-- ======================================-->

        <!-- 2) 출처 : https://stackoverflow.com/questions/17148426/pop-up-keyboard-destroys-my-listview/17148669 -->
        <activity
            android:name=".RestaurantSearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <!-- ======================================-->
        <activity android:name=".RestaurantInfoActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>